<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>article</title>
    <link href="/layui/layui.css" rel="stylesheet">
    <link href="/css/article.css" rel="stylesheet">
</head>
<body th:inline="text">
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15" id="article-list">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--/*@thymesVar id="article" type="com.jay.blog.entity.Article"*/-->
                <div class="article-title">[[${article.title}]]</div>
                <div id="articleId" style="display: none">[[${article.articleId}]]</div>
                <span class="article-info">评论数量: [[${article.discussionCount}]]</span>
                <span class="article-info">作者: [[${article.user.getUserName()}]]</span>
                <div class="layui-card-body">[[${article.content}]]</div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15" id="discussions"></div>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/article.js"></script>
</body>
</html>